body {
    counter-reset: services;
}
.sidebar .tabs {
    margin-left: 4px;
}
.theme__dark .app .sidebar {
    background: #262626;
}
.theme__dark .app .sidebar::after {
    box-shadow: none;
}
.theme__dark .tab-item {
    width: auto !important;
    flex-direction: row;
    gap: 7px;
    filter: brightness(0.5);
    padding: 0 10px;
}
.theme__dark .tab-item.is-active {
    background: transparent;
    border-top-width: 0 !important;
    padding-top: 4px;
    filter: brightness(1);
}
.theme__dark .tab-item .tab-item__message-count {
    min-width: 0;
    min-height: 0;
    aspect-ratio: 1/1;
    font-size: 9px;
    top: 6px;
    right: 6px;
    padding: .5em;
}
.theme__dark .tab-item .tab-item__icon {
    width: 15px !important;
}
.theme__dark .tab-item::before {
    content: counter(services);
    counter-increment: services;
    font-size: 15px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 600;
    z-index: 1;
}
.sidebar__button > svg {
    width: 1.8rem !important;
    height: auto !important;
}
