@import "colors.rasi"

* {
	background-color: transparent;
	font: "Ubuntu 14";
	color: white;
}

window {
	background-color: @background;
}

mainbox {
	children: [inputbar, listview];
	spacing: 20px;
	padding: 30px;
}

inputbar {
	children: [entry];
}

entry {
	text-color: #ffffff;
}

element {
	padding: 5px;
}

element-icon {
	size: 2.1ch;
	margin: 0 10px;
}

element selected {
	background-color: @selected;
}
