.theme__dark .app .sidebar {
    background: #101010;

    &::after {
        box-shadow: none;
    }

    .tabs {
        padding-left: 4px;
        counter-reset: services;

        .tab-item {
            width: auto !important;

            padding: 0 .5em;

            flex-direction: row;
            gap: 7px;

            filter: brightness(0.5);

            &__icon {
                width: 15px !important;
            }

            &__message-count {
                top: 6px;
                right: 2px;

                min-width: 0;
                min-height: 0;
                aspect-ratio: 1 / 1;

                padding: 0 .4em;

                font-size: 10px !important;
            }

            &.is-active {
                background: none;
                box-shadow: none;

                filter: brightness(1);
            }

            &::before {
                content: counter(services);
                counter-increment: services;

                font-family: "Ubuntu", sans-serif;
                font-size: 15px;
                font-weight: 600;
            }
        }
    }

    .sidebar__button > svg {
        width: 1.8rem !important;
    }
}
